body {
  font-family: Arial, Helvetica, sans-serif;
}

.box-1 {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  position: relative;
  top: 820px;
}

.box-2 {
  width: 200px;
  height: 200px;
  background-color: lightcoral;
  position: relative;
  bottom: 200px;
  z-index: 10;
}

.container {
  width: 600px;
  height: 900px;
  background-color: lightgray;
  font-size: 40px;
  position: relative;
  top: 700px;
}

.box-3 {
  width: 300px;
  height: 300px;
  background-color: lightgreen;
  position: relative;
  bottom: 200px;
}

.box-4 {
  width: 300px;
  height: 300px;
  background-color: lightblue;
  position: relative;
  top: 100px;
}
