.container {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  width: 400px;
  height: 400px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
.show {
  display: block;
}
.little-box {
  width: 10rem;
  height: 10rem;
  border: 2px solid blue;
  background-color: blue;
}
