body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 600px;
  height: 600px;
  background-color: lightgray;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 40px;
}

.box-1 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  position: relative;
  bottom: 220px;
  left: 320px;
}

.box-2 {
  width: 200px;
  height: 200px;
  background-color: lightcoral;
  position: relative;
  left: 200px;
  bottom: 0px;
  z-index: 10;
}

.box-3 {
  width: 300px;
  height: 300px;
  background-color: lightgreen;
  position: relative;
  left: 150px;
  bottom: 100px;
}

.box-4 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  position: relative;
  bottom: 120px;
  left: 170px;
}
